/* About Me Section CSS */

.aboutme__text {
  margin: 3em;
  text-align: justify;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  line-height: 50px;
  align-items: center;
}

.amt {
  margin: 3em;
}
