.experience {
  display: flex;
  justify-content: center;
}

.CRAdiv {
  border-radius: 25px;
  width: fit-content;
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 5em;
  width: 80%;
  /* From https://css.glass */
  background: rgba(252, 252, 252, 0.254);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
}

.jobInfo {
  font-family: "Bellota Text", cursive;
  margin: 1.5em;
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-gap: 1em;
}

.jobCompany {
  font-size: xx-large;
  font-weight: bolder;
}

.jobTitle {
  font-size: 25px;
}

.jobParagraph {
  margin: 1em;
  font-size: 25px;
  text-align: justify;
  font-family: "Montserrat", "sans-serif";
}

@media screen and (max-width: 1176px) and (min-width: 600px) {
  .CRAdiv {
    grid-template-columns: 100%;
    margin: 1em;
    width: 100%;
  }
  .jobInfo {
    grid-template-rows: 25% 25% 25% 25%;
  }
}

@media screen and (max-width: 599px) {
  .CRAdiv {
    grid-template-columns: 100%;
    margin: 1em;
    width: 100%;
  }
  .jobInfo {
    grid-template-rows: 25% 25% 25% 25%;
  }

  .jobParagraph {
    font-size: 20px;
  }
}
