.Footer {
  display: flex;
  justify-content: space-between; /* Ensures maximum space between h1 and footer-links */
  align-items: center; /* Vertically centers the content */
  padding: 1.5em 5%; /* Padding on the sides for breathing space */
  background-color: #333;
  color: white;
  position: relative; /* To position footer-links absolutely relative to footer */
}

.footer-h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 auto; /* Auto margin on left and right to center the h1 */
}

.footer-links {
  display: flex;
  align-items: center;
  position: absolute; /* Absolute positioning */
  right: 5%; /* Positioned to the right with the same spacing as the footer's padding */
}

.footer-icon {
  margin: 0 1rem;
  color: white;
}

.footer-icon:hover {
  color: #0469ff; /* Change the color on hover */
  transform: scale(1.1);
}
/* ... rest of your footer styles */
