@import url("https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Bellota Text", cursive;
  color: #333;
}

/* Section Headers CSS */
.section__header {
  font-size: 30px;
  border-bottom: 5px solid #000000;
}

.header {
  margin-left: 3em;
}
