@import url("https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
/* base styles */
* {
  margin: 0;
}

/* Section Headers CSS */
.section__header {
  font-size: 25px;
  border-bottom: 5px solid #000000;

  font-family: "Bellota Text", cursive;
}

.header {
  margin-left: 3em;
}

.alert {
  padding: 20px;
  background-color: #58a5ba; /* Red */
  color: white;
  margin-bottom: 15px;
  position: absolute;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .section__header {
    font-size: 20px;
  }
  .header {
    margin-left: 1em;
  }
}

@media only screen and (max-width: 400px) {
  .section__header {
    font-size: 15px;
  }
}
